<header>
  <nav class="navbar navbar-default navbar-fixed-top module navbar-expand-lg navbar-dark " style="height: 150px; font-family: FjallaOne; font-size: 17px">
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav" >
            <a class="navbar-brand" href="#">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/NASA_Wormball_logo.svg/1024px-NASA_Wormball_logo.svg.png" width="80" height="80" alt="">
              <span>NASA SCIENCE</span>
            </a>
        <li class="nav-item pt-4 mr-sm-2">
          <a class="nav-link" >Overview</a>
        </li>
        <li class="nav-item pt-4">
          <a class="nav-link" >What We Study</a>
        </li>
        <li class="nav-item pt-4">
          <a class="nav-link">Elements</a>
        </li>
        <li class="nav-item pt-4">
          <a class="nav-link">Earth Data</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
