<br>
<div class="container bg-light">
  <div class="row">

    <div class="col-md-auto">

      <h1 class="text pt-4 px-5 pb-3" style="font-family: FjallaOne;">NASA Earth Science</h1>

      <div class="mx-5 p-md-5 mb-2 text-white" style="background-color: #383838; ">

        <div class="row">
          <div class="col">
            <div class="mt-2">
              <p style=" font-size: 19px; font-family: 'Calibri Light'; padding: 4px;"><strong style="font-size: 37px; font-family: FjallaOne"> Global Temperature</strong> <br>
                <span style="font-family: FjallaOne">Average Surface Reading Ties for Second-Warmest<br></span>
                Earth’s global average surface temperature in 2020 tied with 2016 as the warmest year on record, according to an analysis by NASA.The global annual temperature has increased at an average rate of 0.08°C (0.14°F) per decade since 1880 and over twice that rate (+0.18°C / +0.32°F) since 1981. The 2020 Northern Hemisphere land and ocean surface temperature was the highest in the 141-year record at +1.28°C (+2.30°F) above average.
            </div>
            <button class="btn btn-lg btn-outline-light" style="font-family: FjallaOne">READ MORE</button>
          </div>
          <div class="col">
            <img class="card-img-top" src="https://science.nasa.gov/files/science-red/s3fs-public/styles/front_page_hero_image/public/thumbnails/image/earth-slide-global-temperature.jpg?itok=089jjMXf&c=eaa77be546874abea6bc1294db70cbe3" alt="Card image cap">

          </div>
        </div>

      </div>

      <div class="row">

        <div class="col mx-5" style="width: 664px">

          <img class="mt-3 mb-3" src="https://science.nasa.gov/files/science-red/s3fs-public/styles/background_image_file_size/public/thumbnails/image/EARTH_CoreTheme.png?itok=9muokorC" width="664" height="376.612">

          <p class="text body-text text-success" ><span style="font-family: FjallaOne;">NASA Earth Science Division Response to COVID-19</span><br>The Earth Science Division collects global Earth-observing satellite data and has planned for continuity of observations, while prioritizing the health, welfare and safety of our employees and contractors during the COVID-19 pandemic.<br><br>While NASA’s airborne and shipborne field campaigns have been largely postponed, our satellites and semi-autonomous ground sensors continue to operate with most personnel supporting missions remotely to keep onsite staff at a minimum. NASA continues to capture the ongoing changes in Earth’s systems, including new environmental signals in response to human behavior due to COVID-19. <br><br>Updates on the Division’s response to the COVID-19 pandemic will be posted to<a href="https://www.nasa.gov/coronavirus/">https://www.nasa.gov/coronavirus/</a></p>

        </div>

        <div class="col mt-3 mb-3" style="font-size: 16px; margin-left: 100px;">

          <p class="border-bottom" style="font-family: FjallaOne; font-size: 22px; width: 180px"> Related Topics </p>
          <ul class="navbar-nav" >
            <li class="nav-item" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/earthexpeditions">Earth Expeditions</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/subject/7782/earth-research-findings/">Global Precipitation</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/mission_pages/GPM/main/index.html">Landsat</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/mission_pages/landsat/main/index.html">Orbiting Carbon</a></li>
          </ul>


          <br>
          <p class="border-bottom" style="font-family: FjallaOne; font-size: 22px; width: 180px">For Researchers</p>
          <ul class="navbar-nav" >
            <li class="nav-item" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://climate.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2C+created_at+desc&search=&category=19%2C98">News and Features</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://climate.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2C+created_at+desc&search=&category=19%2C98/">Blog</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://earthdata.nasa.gov/learn/pathfinders">Earth Minute Videos</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://earthdata.nasa.gov/learn/pathfinders">Data Pathfinders</a></li>
          </ul>

        </div>

      </div>


      </div>
  </div>
</div>
