<br>
<div class="container bg-light">
  <div class="row">

    <div class="col-md-auto">
      <div class="row">
        <div class="col mx-5 px-5">
          <h1 class="text pt-4 pb-3" style="font-family: FjallaOne;">NASA Earth Science</h1>
          <p style="width: 800px">We live on a dynamic, living planet. Land shifts. Seas rise. Volcanoes erupt. Storms rage. Snow melts. Plants grow. Cities expand. These ever-changing, interconnected systems affect all life on Earth, and the planet itself.</p>

          <div class="card border-0" style="width: 36rem; margin: 0 auto">
            <img class="card-img-top" src="assets/study1.jpg" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">The Moderate Resolution Imaging Spectroradiometer (MODIS) on NASA’s Aqua satellite acquired this natural-color image of plant-like organisms called phytoplankton in the water off Norway and Russia in July 2018.</p>
            </div>
          </div>

          <p style="width: 800px">To understand these natural and human-caused changes, NASA’s Earth Science Division uses unique global observations from space, air, sea and on land. This data enables informed decision-making for agriculture, water and food security, urban planning, disaster preparedness and response, transportation, climate and weather, and myriad other things that benefit life on Earth.</p>
          <p style="width: 800px;">Among the Earth systems ESD studies from space are: dust storms, volcanoes, flooding, coral reefs, night lights, sea surface salinity, wildfires, vegetation, urban growth, food production, mosquito tracking and other human health issues, precipitation across the world, hurricanes and typhoons, soil moisture, land and sea ice, and changes to the land and sea surfaces.</p>

          <div class="card border-0" style="width: 36rem; margin: 0 auto">
            <img class="card-img-top" src="assets/study2.jpg" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">The Moderate Resolution Imaging Spectroradiometer (MODIS) on NASA’s Aqua satellite acquired this natural-color image of plant-like organisms called phytoplankton in the water off Norway and Russia in July 2018.</p>
            </div>
          </div>

          <p style="width: 800px;">Long-term missions such as Landsat, which is operated by NASA in conjunction with the U.S. Geological Service (USGS), have given us decades of data and information about how the Earth is changing. Landsat missions, in fact, first launched in 1972, have provided the longest continuous global record of Earth’s surface ― and the trend will continue with the launch of Landsat 9, scheduled for 2020.</p>
          <p style="width: 800px;">The instruments on NASA missions frequently are used to measure several things. For example, VIIRS (Visible Infrared Imaging Radiometer Suite), just one of five instruments on the Suomi-National Polar-orbiting Partnership (NPP) satellite operated by NASA and the National Oceanic and Atmospheric Administration (NOAA), measures clouds, ocean color, Earth’s surface temperature and fires ― among other things. VIIRS observations can track Earth changes from phytoplankton algae blooms in the sea, to fire and ice on land, the city lights that blaze in the night, and the quality of our air.</p>
        </div>
      </div>
    </div>
        <div class="col mt-3 mb-3 mx-5 col-lg-2" style="font-size: 16px; ">

          <p class="border-bottom" style="font-family: FjallaOne; font-size: 22px; width: 300px;"> Related Topics </p>
          <ul class="navbar-nav" >
            <li class="nav-item" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/earthexpeditions">Earth Expeditions</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/subject/7782/earth-research-findings/">Global Precipitation</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/mission_pages/GPM/main/index.html">Landsat</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/mission_pages/landsat/main/index.html">Orbiting Carbon</a></li>
          </ul>


          <br>
          <p class="border-bottom" style="font-family: FjallaOne; font-size: 22px; width: 200px">For Researchers</p>
          <ul class="navbar-nav" >
            <li class="nav-item" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://climate.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2C+created_at+desc&search=&category=19%2C98">News and Features</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://climate.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2C+created_at+desc&search=&category=19%2C98/">Blog</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://earthdata.nasa.gov/learn/pathfinders">Earth Minute Videos</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://earthdata.nasa.gov/learn/pathfinders">Data Pathfinders</a></li>
          </ul>
        </div>
    </div>
</div>
