<br>
<div class="container bg-light">
  <div class="row">

    <div class="col-md-auto">

      <h1 class="text pt-4 px-5 pb-3" style="font-family: FjallaOne;">Elements</h1>



      <div class="row">

        <div class="col mx-5" style="width: 664px">

          <p>To understand these natural and human-caused changes, NASA’s Earth Science Division uses unique global observations from space, air, sea and on land. This data enables informed decision-making for agriculture, water and food security, urban planning, disaster preparedness and response, transportation, climate and weather, and myriad other things that benefit life on Earth.</p>

        </div>

        <div class="col mt-3 mb-3" style="font-size: 16px; margin-left: 100px;">

          <p class="border-bottom" style="font-family: FjallaOne; font-size: 22px; width: 200px"> Related Topics </p>
          <ul class="navbar-nav" >
            <li class="nav-item" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/earthexpeditions">Earth Expeditions</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/subject/7782/earth-research-findings/">Global Precipitation</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/mission_pages/GPM/main/index.html">Landsat</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://www.nasa.gov/mission_pages/landsat/main/index.html">Orbiting Carbon</a></li>
          </ul>


          <br>
          <p class="border-bottom" style="font-family: FjallaOne; font-size: 22px; width: 200px">For Researchers</p>
          <ul class="navbar-nav" >
            <li class="nav-item" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://climate.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2C+created_at+desc&search=&category=19%2C98">News and Features</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://climate.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2C+created_at+desc&search=&category=19%2C98/">Blog</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://earthdata.nasa.gov/learn/pathfinders">Earth Minute Videos</a></li>
            <li class="nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg><a class="nounderline px-3" href="https://earthdata.nasa.gov/learn/pathfinders">Data Pathfinders</a></li>
          </ul>

        </div>

      </div>


    </div>
  </div>
</div>
<p>study works!</p>
