<br>
<div class="container ">
  <div class="row bg-light">
    <div class="col-md-auto">
      <h1 class="text pt-4 px-5 pb-3" style="font-family: FjallaOne;">Elements</h1>
    </div>
  </div>
  <br>

  <div class="row bg-light align-content-center">
    <div class="col-md">
      <h2 class="text pt-4 px-5 pb-3" style="font-family: FjallaOne;">Video Gallery</h2>
      <div class="row px-5 ">

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oaDkph9yQBs" allowfullscreen></iframe>
            </div>            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">Sensors on a suite of NASA satellites observe and measure water on land, in the ocean and in the atmosphere. These measurements are important to understanding the availability and distribution of Earth's wateron.</p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/snghE_hWMhY" allowfullscreen></iframe>
            </div>            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">NASA’s Soil Moisture Active Passive (SMAP) spacecraft launched Jan. 31 from California’s Vandenberg Air Force Base. SMAP is the first U.S. Earth-observing satellite designed to collect global observations of surface soil moisture.</p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8pgo01CGOMw" allowfullscreen></iframe>
            </div>            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">The Moderate Resolution Imaging Spectroradiometer (MODIS) on NASA’s Aqua satellite acquired this natural-color image of plant-like organisms called phytoplankton in the water off Norway and Russia in July 2018.</p>
            </div>
          </div>

        </div>

      </div>


      <div class="row px-5 ">

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tXnOGEEVtjQ" allowfullscreen></iframe>
            </div>            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">Earth is currently in a period of warming. Over the last century, Earth's average temperature rose about 1.1 F (0.6C). In the last two decades, the rate of our world's warming accelerated. Scientists predict that the globe will continue to warm over the course of the 21st century.</p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6vgvTeuoDWY" allowfullscreen></iframe>
            </div>            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">This video takes viewers on a tour of new Earth Observing System Data and Information System (EOSDIS) Earth science data resources available at https://earthdata.nasa.gov to help users find, access, use and visualize NASA Earth science data. </p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4iXYGc9R9LA" allowfullscreen></iframe>
            </div>            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">The Ocean is essential to life on Earth. Most of Earth's water is stored in the ocean. Although 40 percent of Earth's population lives within, or near coastal regions- the ocean impacts people everywhere.</p>
            </div>
          </div>

        </div>

      </div>


  <div class="row bg-light align-content-center">
    <div class="col-md">
      <h2 class="text pt-4 px-5 pb-3" style="font-family: FjallaOne;">Image Gallery</h2>
      <div class="row px-5 ">

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <img class="card-img-top" src="https://science.nasa.gov/files/science-red/s3fs-public/styles/large/public/thumbnails/image/barentseabloom_amo_2018201_lrg.jpg?itok=utnAKNA-" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">The Moderate Resolution Imaging Spectroradiometer (MODIS) on NASA’s Aqua satellite acquired this natural-color image of plant-like organisms called phytoplankton in the water off Norway and Russia in July 2018.</p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <img class="card-img-top" src="https://science.nasa.gov/files/science-red/s3fs-public/styles/large/public/thumbnails/image/larsen-c.jpg?itok=zrv2JRFf" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">Researchers discovered this rift in the Antarctic Peninsula’s Larsen C ice shelf in November 2016 during a flight of NASA’s Operation IceBridge airborne mission. The following year, the ice separated from the ice shelf and became an iceberg about the size of Delaware.</p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <img class="card-img-top" src="https://science.nasa.gov/files/science-red/s3fs-public/styles/large/public/thumbnails/image/dnb_united_states_lrg_1.jpg?itok=AF6d8wnw" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">NASA scientists use data from the Visible Infrared Imaging Radiometer Suite (VIIRS) on the Suomi National Polar-orbiting Partnership (NPP) to create composite images of Earth at night, from cities to hemispheres. </p>
            </div>
          </div>

        </div>

  </div>


      <div class="row px-5 ">

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <img class="card-img-top" src="https://science.nasa.gov/files/science-red/s3fs-public/styles/background_image_file_size/public/thumbnails/image/icesat2_0.jpg?itok=6GkO7K-N" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">NASA’s Ice, Cloud and Land Elevation Satellite-2 (ICESat-2) uses split-second laser pulses to measure the height of Earth’s ice sheets, glaciers, sea ice, vegetation and more.</p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <img class="card-img-top" src="https://science.nasa.gov/files/science-red/s3fs-public/styles/background_image_file_size/public/thumbnails/image/tempest.jpg?itok=xpiI2bjW" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">NASA’s Global Precipitation Measurement (GPM) core observatory satellite flew over Hurricane Florence in September 2018, capturing a 3D image as the storm’s clouds started to break apart before reforming. </p>
            </div>
          </div>

        </div>

        <div class="col">

          <div class="card border-0" style="width: 20rem;">
            <img class="card-img-top" src="https://spacenews.com/wp-content/uploads/2018/01/rsz_pia19133_0-879x485.jpg" alt="Card image cap">
            <div class="card-body bg-light">
              <p class="card-text" style="font-size: 12px">Nevada farmer Denise Moyle will be able to access NASA Earth observation data to better manage her alfalfa fields, thanks to a web-based platform supported by the Earth Applied Sciences Water Resources program area. It will put accurate and timely NASA data into the hands of water managers conservation group and farmers like her. </p>
            </div>
          </div>

        </div>

      </div>

</div>
  </div>
</div>
