@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "FjallaOne";
  src: local("FjallaOne"), url(./assets/FjallaOne-Regular.ttf) format("truetype");
}
body {
  background-image: url("https://i.pinimg.com/originals/f7/e6/d8/f7e6d88ec329f6bd0ebcda10e1dc2dd9.jpg");
}
